<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="ISO-8859-1">
   <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Bug</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Bug-Tracker</a>

    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink='/' routerLinkActive="active">Home</a>
        <a class="nav-item nav-link" routerLink='/create' routerLinkActive="active">Create Bug</a>
        <a class="nav-item nav-link" routerLink='/search' routerLinkActive="active">Search Bug</a>
        <a class="nav-item nav-link" routerLink='/update' routerLinkActive="active">Update Bug</a>
        </div>
  </nav>
  <body>
    <h1 style="text-align: center;">Bug-Tracking System</h1>
      <br>
<div class="jumbotron">
<input [(ngModel)]='bug.inputName' id="q1"> <button (click)="getByName(bug.inputName)" class="btn btn-info" placeholder="Search by Name"> Search by Name</button>
<select id="status" [(ngModel)]='bug.inputStatus' id="q2">
  <option *ngFor="let value of statusValues" [value]="value">{{value}}</option>
</select> <button (click)="getByStatus(bug.inputStatus)" class="btn btn-info" placeholder="Search by Status"> Search by Status</button>
<br>
<h3 style="text-align: center;">All-Bugs</h3>
<br>
<table>
  <thead>
  <th>Name</th>
  <th>Priiority</th>
  <th>Status</th>
  <th>TesterId</th>
  <th>Developer Id </th>
  <th>Module</th>
  <th>Project Id</th>
  <th>Product</th>
  <th>Type</th>
  <th>Build version</th>
  <th>Severity</th>
  <th>SubmittedOn</th>
</thead>
<tbody><td>{{bug.name}}</td>
  <tr *ngFor ='let bug of bugArray'>
    <td>{{bug.name}}</td>
    <td>{{bug.priority}}</td>
    <td>{{bug.status}}</td>
    <td>{{bug.testerId}</td>
    <td>{{bug.developerId}}</td>
    <td>{{bug.module}</td>
    <td>{{bug.projectId}}</td>
    <td>{{bug.product}}</td>
    <td>{{bug.type}}</td>
    <td>{{bug.buildVersion}}</td>
    <td>{{bug.severity}}</td>
    <td>{{bug.submittedOn}}</td>
  </tr>
</tbody>
</table>
</div>
</body>
</html>
