<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="ISO-8859-1">
   <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Bug</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body class="jumbotron">
    <div class="jumbotron">
    <h1 style="text-align: center;">Bug-Tracking System</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Bug-Tracker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink='/' routerLinkActive="active">Home</a>
            <a class="nav-item nav-link" routerLink='/create' routerLinkActive="active">Create Bug</a>
            <a class="nav-item nav-link" routerLink='/search' routerLinkActive="active">Search Bug</a>
            <a class="nav-item nav-link" routerLink='/update' routerLinkActive="active">Update Bug</a>
            </div>
        </div>
      </nav>
      <br>
  <div class="row">
  <div class="col">
  <div>
  <label>Bug-name*</label><br>
  <input [(ngModel)]='bug.name' id="name" #name="ngModel" type="text" placeholder="Name" class="form-control-sm" maxlength=15 required><br>
  <label>Characters used{{bug.name.length}}/15</label><br>
  <div *ngIf="name.touched && name.invalid" class="alert alert danger">
  <div *ngIf="name.errors.required">Name is required</div>
  </div>
  </div>
  <div>
  <label>Product</label><br>
  <input [(ngModel)]='bug.product' #product="ngModel" type="text" placeholder="Product" class="form-control-sm" required><br>
  <div *ngIf="product.touched && product.invalid" class="alert alert danger">
  <div *ngIf="product.errors.required">Product is required</div>
  </div></div>
  <div>
  <label>Module</label><br>
  <input [(ngModel)]='bug.module' #module="ngModel" type="text" placeholder="Module" class="form-control-sm" required><br>
  <div *ngIf="module.touched && module.invalid" class="alert alert danger">
    <div *ngIf="module.errors.required">Module is required</div>
    </div></div>
  <label>Project Id</label><br>
  <input [(ngModel)]='bug.projectId' #projectId="ngModel" type="text" placeholder="Project Id" class="form-control-sm" required><br>
  <div *ngIf="projectId.touched && projectId.invalid" class="alert alert danger">
  <div *ngIf="projectId.errors.required">ProjectId is required</div>
  </div>
  <div>
  <label>Synopsis</label><br>
  <textarea [(ngModel)]='bug.synopsis' #synopsis="ngModel" cols="30" rows="5" placeholder="Max characters to 100" class="form-control-sm"  maxlength="100" minlength="10" required><br></textarea><br>
  <div *ngIf="synopsis.touched && synopsis.invalid" class="alert alert danger">
  <div *ngIf="synopsis.errors.maxlength">Synopsis should not be more than 100 characters</div>
  <div *ngIf="synopsis.errors.minlength">Synopsis be more than 10 characters</div>
  </div></div>
  <div>
  <label>Description</label><br>
  <textarea [(ngModel)]='bug.description' #description="ngModel" cols="30" rows="5" placeholder="Max characters to be 200" class="form-control-sm" maxlength="200" minlength="10" required></textarea>
  <div *ngIf="description.touched && description.invalid" class="alert alert danger">
    <div *ngIf="description.errors.maxlength">Description should not be more than 100 characters</div>
    <div *ngIf="description.errors.minlength">Description be more than 10 characters</div>
    </div></div>
  <label>Status*</label><br><select id="status" [(ngModel)]='bug.status' required>
  <option *ngFor="let value of statusValues" [value]="value">{{value}}</option>
  </select>
  <br>
  <label>Priority*</label><br><select id="priority" [(ngModel)]='bug.priority' required>
    <option *ngFor="let value of priorityValues " [value]="value">{{value}}</option>
  </select>
  <br>
 <label>Type*</label><br><select id="type" [(ngModel)]='bug.type' required>
    <option *ngFor="let value of typeValues " [value]="value">{{value}}</option>
  </select>
  <br>
 <label>Severity</label><br><select id="severity" [(ngModel)]='bug.severity' required>
    <option *ngFor="let value of severityValues " [value]="value">{{value}}</option>
  </select><br>
<label>Developer Id</label><br><input [(ngModel)]='bug.developerId' type="number" placeholder="Developer Id"><br>
<label>Tester Id</label><br><input [(ngModel)]='bug.testerId' type="number" placeholder="Tester Id"><br>
 <label>ETA*</label><br><input [(ngModel)]='bug.etaDate' type="date" placeholder="Eta" required><br>
 <label>Build Version</label><br><input [(ngModel)]='bug.buildVersion' type="text" placeholder="Build Version"><br>
 <br>
 <button (click)='save()' class="btn btn-primary">Submit</button>
</div>
</div>
</div>
</body>
</html>
