<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="ISO-8859-1">
 <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bug</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body class="jumbotron">
  <h1 style="text-align: center;">Bug-Tracking System</h1>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Bug-Tracker</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
      <a class="nav-item nav-link" href="../create-bug/create-bug.component.html">Create</a>
      <a class="nav-item nav-link" href="updateBug.html">Update</a>
      <a class="nav-item nav-link" href="../search-bug/search-bug.component.html">Search</a>
      </div>
      </div>
    </nav>
<label>Bug-name</label><input [(ngModel)]='bug.name' type="text" placeholder="Name"><br>
<label>Product</label><input [(ngModel)]='bug.product' type="text" placeholder="Product"><br>
<label>Module</label><input [(ngModel)]='bug.module' type="text" placeholder="Module"><br>
<label>Project Id</label><input [(ngModel)]='bug.projectId' type="text" placeholder="Project Id"><br>
<label>Synopsis</label><input [(ngModel)]='bug.synopsis' type="text" placeholder="Synopsis"><br>
<label>Description</label><input [(ngModel)]='bug.description' type="text" placeholder="Description"><br>
<label>Status</label><select id="status" [(ngModel)]='bug.status'>
  <option *ngFor="let value of statusValues" [value]="value">{{value}}</option>
</select>
<br>
<label>Priority</label><select id="priority" [(ngModel)]='bug.priority'>
  <option *ngFor="let value of priorityValues " [value]="value">{{value}}</option>
</select>
<br>
<label>Type</label><select id="type" [(ngModel)]='bug.type'>
  <option *ngFor="let value of typeValues " [value]="value">{{value}}</option>
</select>
<br>
<label>Severity</label><select id="severity" [(ngModel)]='bug.severity'>
  <option *ngFor="let value of severityValues " [value]="value">{{value}}</option>
</select><br>
<label>Developer Id</label><input [(ngModel)]='bug.developerId' type="number" placeholder="Developer Id"><br>
<label>Tester Id</label><input [(ngModel)]='bug.testerId' type="number" placeholder="Tester Id"><br>
<label>ETA</label><input [(ngModel)]='bug.etaDate' type="date" placeholder="Eta"><br>
<label>Build Version</label><input [(ngModel)]='bug.buildVersion' type="text" placeholder="Build Version"><br>
<button (click)='save()'>Save</button>
</body>
</html>
